.image {
  width: 300px;
  margin: 0 auto;
}

.top-margin {
  margin-top: 50px;
}

.space-bottom {
  margin-bottom: 50px;
}

.error {
  color: red
}

.loader {
  margin-top: 20px;
}

.form-display-area {
  min-height: 600px;
}
